<nav class="navbar navbar-light">
        <div class=" container-fluid">
            <a id="brand-name" class="navbar-brand" href="#">
                <img id="brand-icon" src="../public/assets/pan-dammit_mascot_colorscheme.png">
                Pan-dammit
            </a>
        </div>
        
  <div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
</div>
</div>
</nav>

<div class="mb-3">
  <label for="Blog" class="form-label">Title</label>
  <input type="title" class="form-control" id="blogTitle" placeholder="Blog Title">
</div>
<div class="mb-3">
  <label for="blogPost" class="form-label">How are you today?</label>
  <textarea class="form-control" id="blogPost" rows="3"></textarea>
</div>
<button type="submit">Share</button>
<div class="container-fluid">
  
</div>