<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/welcome">
    <div class="logo-image">
      <img src="/assets/logos/pandammit_logo.png" class="img-fluid">
    </div>
  </a>
  <a class="navbar-brand" id="brand-name" href="/welcome">Pan-dammit!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/welcome">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/mentalHealthPage">Mental Health Resources <span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          More Stuffs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/blogPage">Blogs</a>
          <a class="dropdown-item" href="/moviePage">Movies</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="mb-3">
  <label for="Blog" class="form-label">Title</label>
  <input type="title" class="form-control" id="blogTitle" placeholder="Blog Title">
</div>
<div class="mb-3">
  <label for="blogPost" class="form-label">How are you today?</label>
  <textarea class="form-control" id="blogPost" rows="3"></textarea>
</div>
<button id="submitBtn" type="submit">Post</button>
<div class="maincontainer-fluid" id="postArea">
</div>


<script type="text/javascript" src="/js/blogPage.js"></script>