<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/signUp">
          <div class="logo-image">
                <img src="/assets/logos/pandammit_logo.png" class="img-fluid">
          </div></a>
          <a class="navbar-brand" href="/signup">Pan-dammit!</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/welcome">Home <span class="sr-only"></span></a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="/mentalHealthPage">Mental Health Resources <span class="sr-only"></span></a>
                    </li>
  </nav>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check">
 <a href="/signup" class="btn btn-primary btn-sm" role="button">Sign Up!</button>

  </div>
  <a href="/welcome" class="btn btn-primary btn-sm" role="button">Sign In!</button>
</form>
<script>

</script>
