<nav class="navbar navbar-light">
  <div class=" container-fluid">
    <a id="brand-name" class="navbar-brand" href="/login">
      <img id="brand-icon" src="/assets/logos/pandammit_logo.png">
      Pan-dammit!
    </a>
    <div class=" nav-item active">
      <a class="nav-link" href="/mentalhealth">Mental Health Resources <span class="sr-only"></span></a>
    </div>
</nav>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="form-group form-check"></div>

  <a href="/signup" class="btn btn-primary btn-sm" role="button">Sign Up!</button>
    <a href="/welcome" class="btn btn-primary btn-sm" role="button">Sign In!</button>
</form>
<script>

</script>