<nav class="navbar navbar-light">
        <div class=" container-fluid">
            <a id="brand-name" class="navbar-brand" href="#">
                <img id="brand-icon" src="../public/assets/pan-dammit_mascot_colorscheme.png">
                Pan-dammit
            </a>
        </div>
</nav>
<img src="https://c.stocksy.com/a/h7U500/z9/1307437.jpg" class="img-fluid" alt="Stock photo">
<div class="container">
  <!-- Content here -->
</div>