<nav class="navbar navbar-light">
  <div class=" container-fluid">
    <a id="brand-name" class="navbar-brand" href="#">
      <img id="brand-icon" src="/assets/logos/pandammit_logo.png">
      Pan-dammit!
    </a>
    <div class="nav-item active">
      <a class="nav-link" href="mentalhealth">Mental Health Resources <span class="sr-only"></span></a>
    </div>
    <div class="jumbotron">
      <h1 class="display-4">Stay Calm. Help has come.</h1>
    </div>
    <div class="card mb-3">
      <img src="https://th.bing.com/th/id/OIP.UamlYmgEQsAymRUqunammgHaJh?pid=Api&rs=1" class="card-img-top"
        alt="sad kitty"></img>
      <div class="card-body">
        <h5 class="card-title">Want to Talk?</h5>
        <p class="card-text">Remember to take care of yourself above all else, feel the need to talk to someone? Here is
          a link and phone number ypu can reach out to for services: https://www.sprc.org/ Phone Number: 1 (800) 273
          TALK.</p>
        <a href="#https://www.sprc.org/ " class="resource-link">https://www.sprc.org/</a>
      </div>
    </div>
  </div>
  <div class="card mb-3">
    <img
      src="https://render.fineartamerica.com/images/rendered/square-product/small/images/rendered/default/greeting-card/images-medium-5/1-emperor-penguin-chicks-jean-louis-klein-and-marie-luce-hubert.jpg?&targetx=0&targety=-100&imagewidth=700&imageheight=700&modelwidth=700&modelheight=500&backgroundcolor=ECE9DE&orientation=0"
      class="card-img-top" alt="penguins"></img>
    <div class="card-body">
      <h5 class="card-title">More Resources</h5>
      <p class="card-text">Here are more places to check out for further information to seek help.</p>
      <a href="#https://www.cdc.gov/mentalhealth/tools-resources/individuals/index.htm"
        class="resource-link">https://www.cdc.gov/mentalhealth/tools-resources/individuals/index.htm</a>
      <a href="#https://risepsychology.com/resources-2"
        class="resource-link2">https://risepsychology.com/resources-2</a>
      <a href="#https://www.mentalhealth.gov/" class="resource-link3">https://www.mentalhealth.gov/</a>
    </div>
  </div>
  <div class="card mb-3">
    <img src="https://www.lifeinthedoglane.com/wp-content/uploads/2013/03/att00032.jpg" class="card-img-top"
      alt="yoga seal"></img>
    <div class="card-body">
      <h5 class="card-title">Inhale...Exhale...</h5>
      <p class="card-text">Relax your mind, and soothe yourself to a deep sleep with Calm.</p>
      <a href="#https://www.calm.com/ " class="resource-link">https://www.calm.com/</a>
    </div>
  </div>