<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/welcome">
            <div class="logo-image">
                  <img src="/public/assets/pan-dammit.jpg" class="img-fluid">
            </div></a>
        <a class="navbar-brand" href="/welcome">Pan-dammit!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/welcome">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/mentalHealthPage">Mental Health Resources <span class="sr-only"></span></a>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More Stuffs
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/blogPage">Blogs</a>
                <a class="dropdown-item" href="/moviePage">Movies/Shows</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <div class="jumbotron" style="background-image: url('/assets/moviebanner.jpg'); background-size: 100%;">
                <div class="container" style="height: 200px;">
                <p class="lead">Looking to take your mind off of things for a while?
                    Search below for a movie to help you pull through it!</p>
                </div>
            </div>

            
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4">
                <div class="box">
                    <p class="title">What genre are you looking for?</p>

                    <div class="checkbox">
                        <label><input type="checkbox" value="1">Action</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="2">Adventure</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="3">Comedy</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="4">Family</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="5">Horror</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="6">Mystery</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="7">Romance</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="8">Science Fiction</label>
                      </div>
                      <div class="checkbox">
                        <label><input type="checkbox" value="9">Thriller</label>
                      </div>
                      <button type="button" class="btn btn-secondary">Search</button>
                    </div>
                </div>
                <div class="box">
                    <div class="card">
                        <img class="card-img-top" src="" alt="movies chart">
                    </div>
                </div>

                <div class="box">
                    <div class="card">
                        <img class="car-img-top" src="" alt="results">
                    </div>
                </div>
                </div>
            </div>
        </div>

        

        <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #CFD9CE">
          © 2020 Copyright:
          <a class="text-dark" href="/welcome">Pan-dammit</a>
        </div>
        <!-- Copyright -->
      </footer> 