nav {
    background-color: #CFD9CE;
    border-bottom: solid #384D47 .25rem;
}
#brand-name {
    font-family: 'Chango', display;
    font-size: 2.5rem;
    color: #384D47;
}
#brand-icon {
    width: 5rem;
    height: auto;
    border-radius: 50%;
}

